<% layout('layouts/boilerplate') %>

<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <b><h3>Edit your Listings</h3></b>
        <form method="post" action="/listing/<%=listing._id %>?_method=PUT" novalidate class="needs-validation"></form>
        <div class="mb-3 mt-3">
          <label for="title" class="form-lable">Title</label>
          <input
            name="listing[title]"
            value="<%= listing.title  %>"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">
            Title looks Good
           </div>
        </div>

        <div class="mb-3">
          <label for="Description" class="form-lable">Description</label>
          <textarea type="text" name="listing[description]" class="form-control required"
          required>
        <%= listing.description %></textarea
          >
          <div class="invalid-feedback">
            Please Enter a sort description
            </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-lable">Image Link</label>
          <input
            type="text"
            name="listing[image]"
            value="<%= listing.image  %>"
            class="form-control"
            required
          />
        </div>

        <div class="row ">
        <div class="mb-3 col-4">
          <label for="price" class="form-lable">Price</label>
          <input
            type="text"
            name="listing[price]"
            value="<%= listing.price  %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Price Should be Valid
            </div>
        </div>

        <div class="mb-3 col-8">
          <label for="country" class="form-lable">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= listing.country  %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
             Country Should be Valid
            </div>
        </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input
            type="text"
            name="listing[location]"
            value="<%= listing.location  %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Location Should be Valid
            </div>
        </div>

        <button class="btn btn-danger btn-edit mb-5">Edit</button>
      </form>
      </div>
    </div>
    <script src="/js/script.js"></script>
</body>